/* Large Devices, Wide Screens */
@media only screen and (min-width: 768px) {
    .d-sm-flex {
        display: flex !important;
    }
    .flex-md-row {
        flex-direction: row !important;
    }
    .mobile-menu {
        display: none;
    }
    
    .mx-sm-500 {
        max-width: 500px;
    }
}

@media only screen and (min-width: 968px) {
    .slider-area .container {
        width: 768px;
    }
}
@media only screen and (min-width: 1200px) {
    .slider-area .container {
        width: 1200px;
    }
    
}
@media only screen and (min-width: 1600px) {
    .slider-area .container {
        width: 1200px;
    }
    .about-area .container {
        width: 1294px;
    }
}
/* Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1900px) {
    .slider-area .container {
        width: 1490px;
    }
    #clockdiv, #clockdiv2 {
        -webkit-transform: translate(22%, 0px);
        transform: translate(22%, 0px);
    }
    .slider-area .slider-content{
        left:210px;
    }
    .btn_top_fold_wrapper{
        right:140px;
    }
    .landing-video-area .videos-heding .videos-box {
        width: 75%;
    }  
}

@media only screen and (max-width: 2000px) {

     
}

@media only screen and (max-width: 1600px) {
   
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    #clockdiv, #clockdiv2 {
        font-weight: 100;
        font-size: 70px;
        transform: translate(5%, 0px);
    }
    .landing-video-area .videos-heding .videos-box {
        width: 100%;
    } 
}
@media only screen and (max-width: 992px) {
    #clockdiv, #clockdiv2 {
        font-weight: 100;
        font-size: 70px;
        transform: translate(20%, 0px);
      }
    .landing-video-area .videos-heding .videos-box {
        width: 100%;
    }      

    header .menu-area nav ul li a {
        padding: 30px 0px;
    }
    .slider-area .slider-content p {
        padding-left: unset;
    }

    .btn-type-one {
        min-width: 200px;
    }

    .connection-group .form-control {
        margin: 0px 15px;
    }

    .banner-layer {
        padding-top: 12rem;
    }

    .banner-layer h1 {
        font-size: 45px;
    }

    .banner-layer h2 {
        font-size: 35px;
    }
}
@media only screen and (max-width: 768px) {
    #clockdiv, #clockdiv2 {
        font-weight: 100;
        font-size: 70px;
        transform: translate(0%, 0px);
    }

    .about-content .buttons {
        margin-left: 0;
    }

    header {
        padding: 1rem 0;
    }

    .btc_main_menu {
        position: relative;
    }

    header .menu-area {
        width: auto;
    }

    .mobile-menu + ul {
        display: flex;
        background: #fff;
        padding: 0.5rem 1rem;
        flex-direction: column;
        position: absolute;
        right: -10px;
        top: 100%;
        align-items: flex-start;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility .3s;
        border-radius: 5px;
        box-shadow: 0 4px 15px;
    }

    .btc_main_menu:hover .mobile-menu + ul {
        opacity: 1;
        visibility: visible;
    }

    header .menu-area nav ul li a {
        padding: 0;
    }

    header .menu-area nav ul li {
        padding: 0 !important;
        text-align: left;
    }
    .banner-layer {
        padding-top: 2rem;
    }

    .banner-layer h2 {
        font-size: 30px;
    }

    .banner-layer h4 {
        font-size: 20px;
    }

    .banner-layer h2.address {
        padding-bottom: 1rem;
    }

    .banner-layer h1 {
        font-size: 40px;
    }

    .connection-group {
        flex-direction: column;
    }

    .connection-group .form-control {
        margin: 1rem 0;
    }
}

@media only screen and (max-width: 768px){
    .slider {
        height: 500px;
    }
    .slider-area .slider-content p {
        padding-left: unset;
    }
    .btc_timer_section_wrapper {
        padding-top: 0px!important;
        text-align: center;
    }

    .landing-video-area {
        padding-top: 120px;
    }

    .landing-video-area .videos-heding .videos-box .video-js .vjs-big-play-button {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        left: 0;
        right: 0;
        top: 40%;
        margin: 0 auto;
    }
    .landing-video-area .videos-heding .videos-box .video-js .vjs-big-play-button:before {
        content: "";
        position: absolute;
        height: 65px;
        width: 75px;
        line-height: 100px;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
    }
}


@media only screen and (max-width: 520px){
    .slider {
        height: 470px;
    }
    .slider-area .slider-content p {
        padding-left: unset;
    }
}
@media only screen and (max-width: 412px){
    .slider {
        height: 600px;
    }
    .slider-area .slider-content p {
        padding-left: unset;
    }
}
@media only screen and (max-width: 480px){
    .banner-layer h1 {
        font-size: 29px;
    }

    .banner-layer h2 {
        font-size: 24px;
    }


    .btn-type-one {
        min-width: 170px;
        font-size: 24px;
    }

    .slider-area .slider-content {
        padding-top: 35px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .slider-area .slider-content h2 {
        font-size: 25px;
    }
    .btn_top_fold_arrow{
        height: 55px;
        display: none;
    }
    .btn_top_fold_arrow .center .arrow{
        font-size: 30px;
    }
    .btn_top_fold_wrapper {
        height: 100px;
    }
    .slider {
        height: 230px;
    }
}