@font-face {
    font-family: 'Casazeni';
    src: url('../fonts/casazeni/casazeni.eot');
    src: url('../fonts/casazeni/casazeni.eot?#iefix') format('embedded-opentype'),
         url('../fonts/casazeni/casazeni.woff2') format('woff2'),
         url('../fonts/casazeni/casazeni.woff') format('woff'),
         url('../fonts/casazeni/casazeni.ttf') format('truetype'),
         url('../fonts/casazeni/casazeni.svg#casazeni') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../fonts/bahnschrift/bahnschrift.eot');
    src: url('../fonts/bahnschrift/bahnschrift.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bahnschrift/bahnschrift.woff2') format('woff2'),
         url('../fonts/bahnschrift/bahnschrift.woff') format('woff'),
         url('../fonts/bahnschrift/bahnschrift.ttf') format('truetype'),
         url('../fonts/bahnschrift/bahnschrift.svg#Bahnschrift') format('svg');
    font-weight: normal;
    font-style: normal;
}
